$buttonColor: #1f15bf6e;
$buttonFontColor: #fff;
$buttonWidth: 101.9%;
$borderColor: #f5f5f5;
$backgroundColor: #1178be;
$inputColor: #0e3579;
$inputOnFocus: #06193a;
$scoreCard-BackgroundColor: #f8f8f8;
$highscoreLogo-BorderColor: #9db3c8;